<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Top Rated Movies</title>
</head>

<body>
    <h1>Select Movies for Recommendations</h1>
    <form action="/recommend" method="post">
        {% for movie in top_movies %}
        <div>
            <input type="checkbox" name="movies" value="{{ movie.original_title }}">
            {{ movie.original_title }}
        </div>
        {% endfor %}
        <input type="submit" value="Get Recommendations">
    </form>
</body>

</html>