<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Top Rated Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const movieItems = document.querySelectorAll('.movie-item');

        movieItems.forEach(item => {
            item.addEventListener('click', () => {
                const checkbox = item.querySelector('input[type="checkbox"]');
                checkbox.checked = !checkbox.checked;  // Toggle checkbox
                item.classList.toggle('selected', checkbox.checked);  // Add/Remove 'selected' class
            });
        });
    });

</script>

<body>
    <div class="container">
        <h1>MOVIEMATE</h1>
        <form action="/recommend" method="post">
            <div class="movies-list">
                <h2>Select your favorite movies to help us calculate your movie recommendations</h2>
                {% for movie in top_movies %}
                <div class="movie-item">
                    <input type="checkbox" name="movies" value="{{ movie.original_title }}">
                    <img src="{{ movie.poster_path }}" alt="{{ movie.original_title }}">
                </div>
                {% endfor %}
            </div>

            <div class="genre-selection">
                <h2>What genre are you in the mood for?</h2>
                <label for="genre">Genre:</label>
                <select name="genre" id="genre">
                    {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Get Recommendations</button>
        </form>
    </div>
</body>

</html>