<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Recommendations</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Dots&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Recommended Movies</h1>
        <div>
            {% for movie in recommendations %}
            <div class="recommendation-item">
                <img src="{{ movie.poster_path }}" alt="{{ movie.original_title }}">
            </div>
            {% endfor %}
        </div>

        <a href="/" class="back-button">Back to Movie List</a>
    </div>

</body>

</html>