<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Recommendations</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&family=Space+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h1>Recommended Movies</h1>
        <div>
            {% for movie in recommendations %}
            <div class="recommendation-item">
                <img src="{{ movie.poster_path }}" alt="{{ movie.original_title }}">
            </div>
            {% endfor %}
        </div>

        <a href="/" class="back-button">Back to Movie List</a>
    </div>

</body>
<footer style="background-color: #2C2926; color: #E3D5B8; text-align: center; padding: 10px; margin-top: 20px;">
    <a href="https://github.com/afsanab/MovieMate" target="_blank"
        style="color: #D3B88C; text-decoration: none;">GitHub</a>
</footer>

</html>